<nav id="main-nav">
  {{#link-to 'application'}}
    <img src="/assets/images/Ember-Denver-Half-sm.png">
  {{/link-to}}
  <ul>
    <li>{{link-to 'meetup roster' 'emburritos'}}</li>
  </ul>
</nav>

<div id="ember-body" class="container">
  {{outlet}}
</div>
