
<nav id="main-nav">
  {{#link-to 'application'}}
    <img src="/assets/images/Ember-Denver-Half-sm.png">
  {{/link-to}}
  <ul>
  </ul>
</nav>

<div id="ember-body" class="container">
  {{outlet}}
</div>
